body
  -webkit-app-region drag 
  background rgba(33, 37, 41, 0.95)
  margin 0
  font-family 'Montserrat', sans-serif
  color white

.container
  padding 25

.title
  text-align center
  margin 0
  font-size 200%
  font-weight 200