html
  head
    title Report
    link(href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700" rel="stylesheet")
    link(href="../styles/main.css" rel="stylesheet")
  body
    div.container
      h2.title Zorp
      div.chart-container
      canvas.chart
      div.lists
        div.tracked
        div.untracked
  script(src="../scripts/render.js")